@import "./menu.css";
:root {
  --color-room-select: #333333;
  --room-control-hover: brightness(1.5);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
}
#camera {
  border: 2px solid #c37531;
}
#board {
  min-height: 500px;
  width: 100%;
  height: 100%;
  background-color: #d4e1cf;
  position: relative;
  overflow: hidden;
}
#map {
  background-color: #699693;
}
#floor {
  background-color: #bced9d;
}
.room {
  display: flex;
  justify-content: center;
  align-items: center;
}
.room-control {
  width: 32px;
  height: 32px;
  background: url("./assets/add.top.svg");
  background-size: cover;
  z-index: 5;
}

.room-control:active {
  filter: var(--room-control-hover);
}
.floor {
  background-color: #82aef0;
}
.floor-shape {
  border: 1px solid #333333;
}
